.bg-card{
    background-color: #232323;
}
/* .technology-tag a, button{
    background-color: #0a0a23;
    color: #fff;
    border: none;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 7px 15px;
    border-radius: 6px;
    font-size: 14px;
} */
